/* */

Body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}
h1 {
    color: rgba(117, 37, 237, 0.466);
}
img,
h1,
body nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
img {
    border-radius: 60px;
}
:root {
    color: #33393f;
    color: beige;
    color: #e0eae4;
    color: rgb(189, 144, 106);
}
/* set content highlight color and background */
::selection {
    background-color: beige;
    color: #33393f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
    font-size: 1.75rem;
    line-height: 1.5;
    color: #e0eae4;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.625rem;
    color: rgb(189, 144, 106);
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
}

h1 {
    /* 4rem = 40px (4 * 10px) */
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
    color: #33393f;
}

blockquote {
    margin: 0 0 1rem;
    padding: 0.5rem 1rem;
    border-left: 0.25rem solid #eae6e0;
    border-right: 0.25rem solid #eae6e0;
    color: #33393f;
}

code {
    /* Monospace font stack is used for our code blocks to make it look more like code */
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
        "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New",
        Courier, monospace;
}

header h1.page-title {
    padding: 1rem 1.2rem;
    font-size: 4.5rem;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 2.5rem;
}

.center {
    text-align: center;
}

/* create our main grid with flexbox, use negative margins to offset the padding on the .card-column class */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.justify-center {
    justify-content: center;
}

.my-image {
    margin-bottom: 3rem;
}

/* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */
.card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 3rem;
}

/* make each code card a flexbox column to align and justify content within it */
.code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: rgb(189, 144, 106);

    /* outline is like border, but on the outside of the box instead of inside */
    outline: 2px double #dbd4cb;
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
}

.code-card .card-header {
    /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: #33393f;
    color: rgb(189, 144, 106);
    border: 2px solid #eae6e0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* set an outer and inner drop shadow on the card to create a glowing effect on hover */
.code-card:hover,
.code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px rgb(189, 144, 106), 0 0 15px rgb(189, 144, 106);
}

/* each card's code block grows to the height of the largest code block on the page, making each card even in height */
.code-card .code-block {
    flex-grow: 1;
}

.code-card pre {
    /* set styles to make it so code wraps in <pre> instead of overflowing */
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1.2rem 1rem;
    border-radius: 8px;
    /* use linear-gradient() function to create a fading background  */
    background-image: linear-gradient(rgba(205, 205, 205, 0.725) 0%, rgb(255, 255, 255) 100%);
    display: flex;
    align-items: center;
}

/* on <pre> click, select all contents so the code is highlighted */
.code-card pre:active {
    user-select: all;
}

/* form styles */
.form-wrapper {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin-top: 1.5rem;
}

form {
    margin: 0 auto;
    text-align: center;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    color: #33393f;
}

input[type="text"],
input[type="email"],
textarea {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 20%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* SOCIAL MEDIA SECTION "social-icons" */
.social-icons-wrapper {
    margin-top: 5rem;
    text-align: center;
}

.social-icons-wrapper .icon {
    position: relative;
    background-color: #fbfbfb;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
}

.social-icons-wrapper .icon:hover span{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);

}

/* menu */
.menu {
    margin-top: 1.5rem;
    text-align: center;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu ul li {
    display: inline-block;
    margin: 0 10px;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .card-column {
        flex: 0 0 50%;
    }

    /* select the last child to grow to full width if it has space to grow */
    .card-column:last-child {
        flex-grow: 1;
    }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
    .card-column {
        flex: 0 0 33%;
    }
}
